:root.theme-light {
  --fon-color: #353430;
  --bg-image: url('/images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --theme-color: var(--fon-color);
  --accent-color-rgb: 50, 49, 45;
  --heading-color-text: #FFC2E6;
}
.theme-light p {
  color: var(--fon-color);
}
.theme-light .decorative-rec {
  display: none;
}
.theme-light .decorative-rec::after {
  display: none;
}
 @media(prefers-color-scheme: light) {
  :root {
  --fon-color: #353430;
  --bg-image: url('/images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --theme-color: var(--fon-color);
  --accent-color-rgb: 50, 49, 45;
  }
  .theme-light .decorative-rec {
  display: none;
  }
.theme-light .decorative-rec::after {
  display: none;
  }
  .theme-light p {
  color: var(--fon-color);
}
 }